In [ ]:
Consider following code to answer further questions:

In [1]:
import pandas as pd

course_name = ['Data Science','Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [ ]:
Question 1: Write a code to print the data present in the second row of the dataframe, df.

In [3]:
# Using iloc function to display second row .
# note that index for second row is 1
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
Question 2: What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
Answer :
iloc and loc are both methods used to select data from a pandas dataframe, but they use different indexing methods.
1. iloc uses integer-based indexing and is used to select rows and columns by their integer positions. This means that you can use numerical indices to slice a dataframe.
For example if i want to show first 2 row and first column using iloc for given df

In [4]:
df.iloc[0:2,0]

0        Data Science
1    Machine Learning
Name: course_name, dtype: object

In [ ]:
2. loc, on the other hand, uses label-based indexing and is used to select rows and columns by their labels or names. This means that you can use strings to slice a dataframe.

In [5]:
df.loc[0:1,'course_name']

0        Data Science
1    Machine Learning
Name: course_name, dtype: object

In [ ]:
Question 3: Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [6]:
# Creating reindex variable
reindex = [3,0,1,2]

# Reindexing the dateframe using 
new_df = df.reindex(reindex)

# Showing new_df
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
# Output of new_df.loc[2]
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
# Output of new_df.iloc[2]
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
Consider the below code to answer further questions:

In [9]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
# viewing df1
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.567119  0.808323  0.887533  0.493054  0.474179  0.613178
2  0.851702  0.169080  0.236219  0.791958  0.739401  0.247284
3  0.947920  0.462409  0.321972  0.688309  0.130560  0.934107
4  0.853676  0.819944  0.675382  0.274404  0.977027  0.934525
5  0.674408  0.488111  0.839893  0.212404  0.290357  0.628305
6  0.965419  0.264607  0.509092  0.090650  0.862062  0.243131

In [ ]:
Question 4 : Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [ ]:
Answer :
1. Mean of each column in dataframe

In [12]:
# using mean() function of pandas
df1.mean()

column_1    0.810041
column_2    0.502079
column_3    0.578349
column_4    0.425130
column_5    0.578931
column_6    0.600088
dtype: float64

In [ ]:
2. Standard Deviation of column 2

In [13]:
# using std() function then seleting column2
df1.std()['column_2']

0.2697678020363312

In [ ]:
Question 5 : Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [14]:
# Replacing column_2 with string data
df1['column_2'] = ['a','b','c','d','e','f']
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.567119        a  0.887533  0.493054  0.474179  0.613178
2  0.851702        b  0.236219  0.791958  0.739401  0.247284
3  0.947920        c  0.321972  0.688309  0.130560  0.934107
4  0.853676        d  0.675382  0.274404  0.977027  0.934525
5  0.674408        e  0.839893  0.212404  0.290357  0.628305
6  0.965419        f  0.509092  0.090650  0.862062  0.243131

In [15]:
df1.dtypes

column_1    float64
column_2     object
column_3    float64
column_4    float64
column_5    float64
column_6    float64
dtype: object

In [16]:
df1['column_2'].mean()

TypeError: Could not convert abcdef to numeric

In [ ]:
Error is because of the string datatype used here
Firstly mean = sum / number of objects
Here we will be able to get sum as abcdef in pandas
now problem will occur when dividing by number
it is not possible to divide string by a number it will give TypeError
Note that mean functionality will work only for integer and float datatypes
In case if data is provided for number in strings typecast it into int or float using .astype(float) function

In [ ]:
Question 6: What do you understand about the windows function in pandas and list the types of windows functions?

In [ ]:
Answer :
The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The windows functions help us to perform the aggregated calculations across various partitions or cross-sections of the data.
A question that comes to our mind after reading the windows function is what exactly is a window? Well, a window is a value (in terms of rows) that tells us the distance between our current row and the row which is to be used for calculations.

In [ ]:
Question 7 : Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [18]:
# Getting current timestamp
timestamp_now = pd.Timestamp.now()
timestamp_now

Timestamp('2023-09-09 07:17:18.242506')

In [19]:
# Getting current month and year
month = timestamp_now.month_name()
year = timestamp_now.year

In [20]:
# Displaying current Month and Year
print(f'Month while writing this code is : {month}')
print(f'Year while writing this code is  : {year}')

Month while writing this code is : September
Year while writing this code is  : 2023

In [ ]:
Question 8 : Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
Answer :
Pandas Time Delta is not a suitable function for this purpose. Timedeltas has different purpose

In [21]:
import pandas as pd

try:
    # Prompt the user to enter the first date
    date1 = input("Enter the first date (YYYY-MM-DD): ")

    # Prompt the user to enter the second date
    date2 = input("Enter the second date (YYYY-MM-DD): ")

    # Convert the dates to datetime objects
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)

    # Calculate the time difference between the dates
    time_diff = date2 - date1
    days =time_diff.days

    # Display the result
    print(f"The difference between {date1.date()} and {date2.date()} is {days} days")

except Exception as e:
    print('Input provided for date1 :',date1)
    print('Input provided for date2 :',date2)
    print('Exception Occured and Handled :',e)

Enter the first date (YYYY-MM-DD):  2001-12-31
Enter the second date (YYYY-MM-DD):  2023-09-09

The difference between 2001-12-31 and 2023-09-09 is 7922 days

In [ ]:
Question 9 : Write a Python program that reads a CSV file containing Categorical data and converts a specified column to categorical datatype.The program should prompt the user to enter file path, column name and category order and then display the sorted data

In [ ]:
import pandas as pd

try :
    # Prompt the user to enter the file path
    file_path = input("Enter the file path: ")

    # Prompt the user to enter the column name to convert to categorical datatype
    column_name = input("Enter the column name: ")

    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Prompt the user to enter the category order
    category_order = input("Enter the category order (comma-separated values): ")
    category_order = [cat.strip() for cat in category_order.split(",")]

    # Convert the specified column to categorical datatype
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the data based on the categorical column
    df_sorted = df.sort_values(column_name, ascending=False)

    # Display the sorted data and entered data
    print('File Path Entered :',file_path)
    print('Column name Entered :',column_name)
    print('Category Order :',category_order,'\n')
    print('==================================\n')
    print(df_sorted)

except Exception as e:
    print('File Path Entered :',file_path)
    print('Column name Entered :',column_name)
    print('Category Order :',category_order)
    print('Exception Occured and Handled :',e)

In [ ]:
Question 10 : Write a python program that reads a CSV file containing sales data for different products and visualizes the data using stacked barchart to show sales of each product over time. The Program should prompt user to enter filepath and display the chart.

In [ ]:
import pandas as pd

try:
    # Prompt the user to enter the file path
    file_path = input("Enter the file path: ")
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Convert the date column to datetime datatype
    df['Date'] = pd.to_datetime(df['Date'])

    # Group the data by product and date, and sum the sales
    df_grouped = df.groupby(['Product', 'Date']).sum().reset_index()

    # Pivot the data to create a matrix of sales by product and date
    df_pivot = df_grouped.pivot(index='Date', columns='Product', values='Sales')

    # Print the filepath provided
    print('File path Entered : ', file_path,'\n')
    print('=====================================\n')

    print('Input CSV provided\n')
    print(df)

    print('\n=====================================\n')
    # Plot stacked barchart overtime
    df_pivot.plot(kind='bar',
                  stacked=True,
                  title='Product Sales Over time', 
                  xlabel='Date',
                  ylabel='Sales',
                  figsize=(10,10))

except Exception as e:     
    print('File path Entered : ', file_path,'\n')
    print('Exception occured and Handled : ',e)

In [ ]:
Question 11: You are given a CSV file containing student data that includes student ID and their test scores. Write a python program that reads csv file , calculates mean , median and mode of test scores and displays the result in a table

In [ ]:
The Program should do the following:
Prompt the user to enter the file path of CSV file containing the students data.
Read CSV into Pandas DataFrame.
Calculate Mean, Median , Mode of test scores using Pandas tools.
Display Mean, Median and Mode in a table
Assume CSV file contains following:
Student ID : The ID of Student
Test Score : The Score of student's test
Assume that the CSV file student_data.csv contains the following data:
Student ID	Test Score
1	85
2	90
3	80
4	75
5	85
6	82
7	78
8	85
9	90
10	85
This Program should calculate the Mean, Median ,Mode and Display it in table

In [ ]:
import pandas as pd

try:
    # Prompt the user to enter the file path
    file_path = input("Enter the file path: ")
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Calculate Mean, Median, Mode of Test Score
    test_mean = df['Test Score'].mean()
    test_median = df['Test Score'].median()
    test_mode = df['Test Score'].mode()[0]

    # Create A DataFrame to Show above results
    df_stats = pd.DataFrame({'Statistic':['Mean','Median','Mode'],
                             'Value':[test_mean,test_median,test_mode]})    

    # Print File Path Entered:
    print('File Path Entered :',file_path)
    print('\n==============================\n') 
    print('DataFrame Provided\n')
    print(df)
    print('\n==============================\n')
    print('Statistics Table\n')
    print(df_stats)    

except Exception as e:
    print('File Path Entered :',file_path)
    print('Exception Occured :',e)